{% extends "base.html" %}

{% block content %} 

<body>
    <h2><ul>Все товары:</ul></h2>
    <table>
        <thead>
                <tr>
                    <th class='cl1'>Номер</th>
                    <th class='cl2'>Название товара</th>
                    <th class='cl3'>Фирма</th>
                    <th class='cl5'>Описание</th>
                </tr>
        </thead>
        <tbody>
                {% for i in ali %}
                <tr>
                    <td>{{i.id}}</td>
                    <td class='id'><a href="{% url 'page' i.id %}">{{i.name}}</a></td>
                    <td>{{i.brand}}</td>
                    <td>{{i.properties}}</td>
                </tr>
                {% endfor %}
        </tbody>  
            
    </table>

</body>
</html>
{% endblock  %}

