.grid {
    display: grid;
    gap: 10px;
  
    /* background-color: aqua;
    border: 5px solid rgb(203, 83, 83); */
  
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 80px);
  
    border-radius: 10%;
    
    
    /* max-width: говорит что максимум размер рамки не больше 1400px */
    /* max-width: 1400px; */
    
    margin-right: 1000px;
    margin-top: 100px;
    /* отступы внутри рамки */
    padding: 10px;
  
    align-content: center;
    justify-content: center;

    font-size: x-large;
    font-style: italic;
    font-weight: 500;
  }

  .element {
    display: grid;
    gap: 5px;
    border: 2px solid black;
    background-color: #a3d4c3;
    border-radius: 5%;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 10%;
    align-self: center;

  }

table{
    border: 1px solid black;
    /* border-collapse: collapse; */
    /* border-width: 5px; */
    /* background-color: aqua; */
    width: 70%;
}

th{
    border: 1px solid black;
    
    padding: 10px;
    background-color: aquamarine;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}

  td{
    /* width: 50%; */
    /* margin: 0 auto; */
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    background-color: #e7e7e0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  body{
    padding-top: 3%;
    padding-left: 10%;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

